version: '3'

services:
  namenode:
    image: myy92715/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    ports:
      - 9870:9870
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop-hive.env

  datanode:
    image: myy92715/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: 'namenode:9870'
    env_file:
      - ./hadoop-hive.env

  hive-server:
    image: myy92715/hive:3.1.2-postgresql-metastore
    env_file:
      - ./hadoop-hive.env
    environment:
      HIVE_CORE_CONF_javax_jdo_option_ConnectionURL: 'jdbc:postgresql://hive-metastore/metastore'
      SERVICE_PRECONDITION: 'hive-metastore:9083'
    ports:
      - '10000:10000'
      - '10002:10002'
  hive-metastore:
    image: myy92715/hive:3.1.2-postgresql-metastore
    env_file:
      - ./hadoop-hive.env
    command: /opt/hive/bin/hive --service metastore
    environment:
      SERVICE_PRECONDITION: 'namenode:9870 datanode:9864 hive-metastore-postgresql:5432'
    ports:
      - '9083:9083'
  hive-metastore-postgresql:
    image: myy92715/hive-metastore-postgresql:3.1.0
    volumes:
      - hive_postgresql_data:/var/lib/postgresql/data
  presto-coordinator:
    image: myy92715/presto:329-hive
    ports:
      - '9090:8080'
    environment:
      HIVE_SITE_CONF_hive_metastore_uris: 'thrift://hive-metastore:9083'
      SERVICE_PRECONDITION: 'hive-metastore:9083'
    env_file:
      - ./hadoop-hive.env

volumes:
  hadoop_namenode:
  hadoop_datanode:
  hive_postgresql_data:
